* {
	border: none;
	margin: 0 !important;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: monospace;
	color: grey;
	text-align: center;
	background: black;
	font-size: 1.5em;
}

h1 {
	transform: translateY(0.67em);
}

h1, p {
	pointer-events: none;
}

#playfield {
	width: 100vw;
	height: 100vh;
	position: relative;
	top: 0;
	left: 0;
}

#zone {
	width: 100%;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	display: flex;
	align-content: center;
	justify-content: space-between;
	font-size: 2em;
	padding: 0 2em;
}

#zone.center {
	justify-content: center;
}

#winState {
	width: 100%;
}

.goal {
	width: 200px;
	text-align: center;
}

#goal1,
#goal2 {
	display: inline-block;
	width: 160px;
	height: 160px;
	background-size: 160px 160px;
}

#goal1 {
	background-image: url('mgirl.jpg');
}

#goal2 {
	background-image: url('skull.jpg');
}

#score1::after,
#score2::after {
	content: ' hp';
}

.hidden {
	display: none;
}

.hidden * {
	pointer-events: none;
}